@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.errorText {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 3px 0.875rem 0 0.875rem;
  color: #d32f2f;
}
